form {
  margin-top: 3rem;
}


fieldset {
  border: none;
  display: grid;
  gap: 1.5rem;
}


input:not(input[type="radio"]),
textarea,
select {
  appearance: none;
  width: 100%;
  border-radius: .5rem;
  border: 1px solid var(--input-placeholder);
  background-color: var(--shape-button);
  padding: 1rem;
  font: var(--font-one);
}

label {
  display: block;
  margin-bottom: .75rem;
  color: var(--text-body);
  margin-top: .75rem;
}



input:focus,
select:focus,
textarea:focus {
  outline: .25rem solid var(--pink);
  border: .125rem solid var(--pink);


}


input[type="date"] {
  position: relative;

  &::-webkit-calendar-picker-indicator {
    opacity: 0;
  }

  &::before {
    position: absolute;
    background: url(../assets/calendar.svg) center/contain;
    right: 1rem;
    width: 1.25rem;
    height: 1.25rem;

  }


  color: var(--text-body)
}


.input-date {
  display: flex;
  gap: 1rem;



}


.local {
  display: flex;
  gap: 70px;

}

.opcoes {
  display: flex;
  flex-direction: column;
}


textarea {
  width: 35rem;

}



.Personalização {
  font-family: var(--font-one);
display: flex;
  font-size: medium;
  color: var(--text-heading);

  font-family: var(--body-md);

 gap: .75rem;

}


.testeradio input {
  display: none;
}


.testeradio {
  display: flex;
  gap: 46px
}

.testeradio input[value="amarelo"] + label::before{ 

  content: '';
  width: 25px;
  height: 25px;
  background-color: red;
  display: inline-block;
  margin-right: 4px;
  border-radius: 50%;
  padding: 2px;
}


.testeradio input[value="azul"] + label::before{ 

  content: '';
  width: 25px;
  height: 25px;
  background-color: blue;
  display: inline-block;
  margin-right: 4px;
  border-radius: 50%;
  padding: 2px;
}

.testeradio input:checked+label:before {
  border: solid 4px green;
  padding: 2px;
}