form {
  margin-top: 3rem;
}


fieldset {
  border: none;
  display: grid;
  gap: 1.5rem;
}


input:not(input[type="radio"]),
textarea,
select {
  appearance: none;
  width: 100%;
  border-radius: .5rem;
  border: 1px solid var(--input-placeholder);
  background-color: var(--shape-button);
  padding: 1rem;
  font: var(--font-one);
}

label {
  display: block;
  margin-bottom: .75rem;
  color: var(--text-body);
  margin-top: .75rem;
}



input:focus,
select:focus,
textarea:focus {
  outline: .25rem solid var(--pink);
  border: .125rem solid var(--pink);


}


input[type="date"] {
  position: relative;

  &::-webkit-calendar-picker-indicator {
    opacity: 0;
  }

  &::before {
    position: absolute;
    background: url(../assets/calendar.svg) center/contain;
    right: 1rem;
    width: 1.25rem;
    height: 1.25rem;

  }


  color: var(--text-body)
}


.input-date {
  display: flex;
  gap: 1rem;



}


.local {
  display: flex;
  

}

.Endereco{ 
  display: grid;

  margin-left: 40px;
}





.opcoes {
  justify-self: left;
  display: flex;
  border: 1px solid var(--input-placeholder);
  border-radius: 8px;
  overflow: hidden;
}


.opcoes input[type="radio"] { 
display: none;
}

.opcoes label{ 
  flex-grow: 1;
  padding: 12px 20px; 
  text-align: center;
 
  width: 200px;
}


textarea {
  width: 35rem;

}



.Personalização {
  font-family: var(--font-one);
display: flex;
  font-size: medium;
  color: var(--text-heading);

  font-family: var(--body-md);

 gap: .75rem;

}


.corprincipal{ 
  color: var(--text-body);
  display: inline-block;
  margin-top: 20px;
}


.testeradio input {
  display: none;
}


.testeradio {
  display: flex;
  gap: 50px
}



.testeradio input[value="amarelo"] + label::before{ 

  content: '';
  width: 25px;
  height: 25px;
  background-color: #59B2FF;
  display: inline-block;
  margin-right: 8px;
  border-radius: 50%;
  padding: 2px;
}


.testeradio input[value="azul"] + label::before{ 

  content: '';
  width: 25px;
  height: 25px;
  background-color: #6A59FF;
  display: inline-block;
  margin-right: 8px;
  border-radius: 50%;
  padding: 2px;
}

.testeradio input[value="color-3"] + label::before{ 

  content: '';
  width: 25px;
  height: 25px;
  background-color: #FF59F9;
  display: inline-block;
  margin-right: 8px;
  border-radius: 50%;
  padding: 2px;
}

.testeradio input[value="color-4"] + label::before{ 

  content: '';
  width: 25px;
  height: 25px;
  background-color: #FF5959;
  display: inline-block;
  margin-right: 8px;
  border-radius: 50%;
  padding: 2px;
}

.testeradio input[value="color-5"] + label::before{ 

  content: '';
  width: 25px;
  height: 25px;
  background-color: #FF8B59;
  display: inline-block;
  margin-right: 8px;
  border-radius: 50%;
  padding: 2px;
}

.testeradio input[value="color-6"] + label::before{ 

  content: '';
  width: 25px;
  height: 25px;
  background-color: #E1FF59;
  display: inline-block;
  margin-right: 8px;
  border-radius: 50%;
  padding: 2px;
}


.testeradio input[value="color-7"] + label::before{ 

  content: '';
  width: 25px;
  height: 25px;
  background-color: #59FF91;
  display: inline-block;
  margin-right: 8px;
  border-radius: 50%;
  padding: 2px;
}


.testeradio input:checked+label:before {
  border: solid 4px green;
  padding: 2px;
}