*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root{ 
--font-one: "Open Sans", sans-serif;
--body-md: 600 1rem/1.5 var(--font-one);
--body-sm: 600 .875rem/1.4 var(--font-one);
--body-xs: 600 .75rem var(--font-one);


--text-body: #C8CDD0 ; 
--text-heading: #F9F9F9; 
--shape-backgroud: #131516; 
--shape-body: #212427; 
--shape-button: #2D3136;
--input-placeholder: #869198; 

}


body{ 
  background-color: var(--shape-button);
}

